header {
    height: 80px;
    background-color: #000;
    height: 80px;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
    color: white;
}

.header_container nav a {
    margin-left: 20px;
}

@media (max-width: 768px) {
    .header_container {
        flex-direction: column;
        justify-content: center;
        gap: 5px;
    }
}
