
.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 40px;
    text-align: center;
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
}

.card h3 {
    padding-bottom: 10px;
    font-size: 1.2rem;
}

.card p {
    line-height: 1.5rem;

}

@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }
}


